

@import url(https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap);

body{
    scroll-behavior: smooth;
    user-select: none;
    overflow-y: auto;
    font-family: sans-serif !important;
    background: linear-gradient(to bottom,#1d2b43,#071027);
}


.background{
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;

    div{
        justify-content: space-evenly;

        .play{
            min-height: 80px;
            max-width: 300px;
            width: calc(50vw - 20px);
            aspect-ratio: calc(1.5);
            margin-top: 6px;
            margin-bottom: 6px;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 15px;
            justify-content: space-evenly;
        }

        .playe{
            height: auto;
            background-color: transparent;
            border-radius: 20px;
            width: calc(100% - 20px);
            margin-top: 6px;
            margin-bottom: 6px;
        }

        .playr{
            width: calc(100% - 20px);
            margin-top: 6px;
            align-content: center;
            margin-bottom: 6px;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 15px;
            height:auto;
            transition: 0.2s;

            .more{
                font-weight: 400;
            
                span{
                    float: right;
                }
            }
        }

        .playr:active{
            scale: 0.9;
        }
    }
}


.roll{
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;

    .view{
        color: white;
    }
}

.temp{
    font-size: 80px;
    position: relative;
    color: white;

    sup{
        font-size: 30px;
        position: absolute;
        top: 25px;
    }
}

.slash{
    font-size: 30px;
}

.comment{
    font-size: 25px;
    padding-top: 60px;
    color: white;
}

.hour{
    font-size: 13px;
    letter-spacing: 1px;
}

.rate{
    font-size: 13px;
    letter-spacing: 1px;
}

.value{
    font-size: 20px;
}

.labele{
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
}


.alerts{
    bottom: 30px;
    
    div{
        max-width: 250px;
        font-size: 14px;
        background-color: black !important;
        border-radius: 15px !important;
        display: none;
    }
}

#alertBtn{
    color: transparent !important;
}
.search{
    border: none;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.3);
}

.search:focus{
    outline: none;
}

.searchIcon{
    margin-left: 10px;
    margin-top: 5px;
    z-index: 10;
}
